main{
    position: relative;
    display: flex ;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}
h1{
    font-size: 50px;
    font-weight: 900;
    position: relative;
    padding: 4rem;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
h4{
    font-size: 30px;
    padding: 2rem;
}
.col{
    margin-top: 50px;
}
.dest1{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem;
}
.dest2{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem;
}
.dest3{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem;
}
.dest4{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem;
}
.dest5{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem;
}
p{
    font-size: 20px;
    font-weight: 400;
}