header {
    background-size: cover;
}
body {
    justify-content: center;
    background-image: url(../assets/ala.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.form1 {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    border-radius: 30px;
    background-color: #041429;
    width: 1240px;
    position: relative;
    margin: 40px;
    display: block;
    height: 1200px;
}
.MAYOR{
    width: 600px;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 35px;
}
.COL1 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 550px;
}
.COL2 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 550px;
}
.COL3 {
    position: relative;
    display: flex;
    width: 550px;
    align-items: start;
    text-align: start;
}
.COL4 {
    position: relative;
    display: flex;
    align-items: center;
    width: 550px;
}
.COL5 {
    position: relative;
    display: flex;
    width: 550px;
}
.COL6{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    position: relative;
    display: flex;
    width: 550px;
}
.COL7{
    text-align: start;
}
h1 {
    color: white;
    font-weight:900;
    font-family: "Roboto", sans-serif;
    padding: 3rem;
    width: 1200px;
    font-size: 50px;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;

}


h2 {
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    color: white;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 7px;

}
h4{
    color: white;
    padding-bottom: 2rem;
    justify-content: end;
    margin-right: 90px;
    display: flex;
    font-weight: lighter;
    
}
.p1 {
    margin: 0;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    text-align:center;
    text-indent: 20px;
    color: white;
    font-size: 25px;
}
.p2{
    color: white;
    font-size: 15px;
    font-weight: lighter;
    padding-left: 8rem;
    padding-right: 8rem;
    text-align: center;
}
::placeholder{
    text-align: start;
    flex-direction: column;
    justify-content: flex-start;
}
svg{
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 6px;
}
.bi-arrow-right-square-fill{
    display: flex;
}
strong {
    color: rgb(250, 247, 247);
    font-weight: 100;
}
input {
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    width: 535px;
    height: 70px;
    text-align: center;
    font-size: medium;
    border: 10px;
    font-weight: 100;
    background-color: rgb(206, 206, 206);
}
.nombre {
    width: 600px;
    height: 200px;
    padding: 1rem;
    text-align: start;
}
.apellido {
    width: 600px;
    height: 200px;
    padding: 1rem;
    text-align: start;
}
.dni {
    width: 600px;
    height: 200px;
    padding: 1rem;
    text-align: start;
}
#check{
    align-items: start;
    width: 20px;
    height: 20px;
    margin:5px;
    display:inline-flex;
}
.telefono {
    width: 600px;
    height: 200px;
    padding: 1rem;
    text-align: start;
}

.direc {
    width: 600px;
    height: 200px;
    padding: 1rem;
    text-align: start;
}
.e-mail{
    width: 600px;
    height: 200px;
    padding: 1rem;
    text-align: start;
}
#enviar-formulario{
    background-color: #041429;
    color: white;
    border: 0;
    width: 150px;
    height: 40px;
    display: flex;
    margin-right: 40px;
    margin-bottom: 20px;
}
#boton{
    background-color: #041429;
    color: white;
    border: 0;
    width: 150px;
    height: 40px;
    display: flex;
    margin-right: 40px;
    margin-bottom: 20px;
}
.form2 {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    border-radius: 30px;
    background-color: #041429;
    width: 1240px;
    position: relative;
    margin: 40px;
    display: block;
    height: 2230px;
}
.form-control{
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    width: 535px;
    height: 70px;
    text-align: center;
    font-size: medium;
    border: 10px;
    font-weight: 100;
    background-color: rgb(206, 206, 206);
    align-items: start;
    display: flex;
}
option{
    text-align: left;
}
.fechaSalida{
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}
.fechaRegreso{
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
    margin-left: 40px;
}
.pasajerosMenores{
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}
.pasajerosMayores{
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
    margin-left: 40px;
}
.Destino{
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}
.Motivo{
    width: 550px;
    height: 180px;
    text-align: start;
    padding: 1rem;
}
.Descuento{
    width: 550px;
    height: 180px;
    text-align: start;
    padding: 1rem;
}

#imgDestino {
    
    position: relative;
    left: 572px;
    top: -125px;
    height: 300px;
    width: 572px;
    margin-left: 40px;
    

    
}
.notificaciones{
    width: 600px;
    text-align: start;
    flex-direction: column;
    padding: 1rem;
    margin-left:45px ;
}

#recibir{

    width: 550px;
}
#noRecibir{
    width: 550px;
}
#soloPromos{
    width: 550px;
}

#FOR2{
    padding: 0;
    padding-top: 3rem ;
}
.solicitar{
    padding: 0; 
    padding-bottom: 2rem;
}
.tel {
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 2px;
    display: flex;
}

.correo {
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 2px;
    display: flex;
}

.atras {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 70px;
    padding: 10px;
    color: antiquewhite;
    text-align: center;
    flex-wrap: nowrap;
}

.form3 {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    border-radius: 30px;
    background-color: #041429;
    width: 1240px;
    position: relative;
    margin: 40px;
    display: block;
    height: 950px;
}

textarea {
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    width: 1150px;
    height: 200px;
    text-align: center;
    font-size: medium;
    border: 10px;
    font-weight: 100;
    background-color: rgb(206, 206, 206);
    max-height: 250px;
}
.enviar2{
    width: 320px;
    margin-top: 20px;
    margin-left: 1030px;
    display: flex;
    position: absolute;
}

#rec {
    height: 25px;
    width: 900px;
}

.numpedido {
    text-align: left;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 2px;
    width: 1150px;
}
#num{
    width: 1150px;
}
#reclamo{
    margin-bottom: 100px;
    width: 1150px;
    padding: 120px;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: start;

}
.reclamo {
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 2px;
    height: 300px;
}

main {
    margin-top: 200px;
}
.linea{
    height: 30px;
    font-size: 53px;
    justify-content: center;
    flex-direction: row;
    margin-left: 0;
    color: white;
}

.fa-plane{
    position: relative;
    justify-content: right;
    margin-left:1230px;
    color:white;
}
.lineaPunteada{

    justify-content:center;
    text-align: center;
    height: 58px;
    position: relative;
}
footer{
    width: 1860px;
    height: 200px;
    background-color: #355A8B;

}

.logo {
    border-radius: 10px;
}

.icons-redes:hover {
    color: black;
}

.navbarrr {
    margin-left: 5rem;
}

.navbar-brand {
    margin-left: 5rem;
}

.container-icons {
    background-color: #355A8B;
}
.d-inline-flex{
    margin-right: 100px;
}

nav {
    margin-top: 2.5rem;
    font-size: 1.2rem;
}

.navbar {
    background-color: #a1c5e7;
}

nav li {
    padding: 0 15px;
}

.border-end {
    color: black;
}
#mostrarForm{
    display: none;
}





 /* FOOTER */

 @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);

 ul {
  padding:0;
  margin:0
 }
 li {
  list-style:none
 }
 a:focus,a:hover {
  text-decoration:none;
  -webkit-transition:.3s ease;
  -o-transition:.3s ease;
  transition:.3s ease
 }
 a:focus {
  outline:0
 }
 img {
  max-width:100%
 }
 .pfooter {
  font-size:16px;
  line-height:30px;
  color:white;
  font-weight: 300px;
 }
 h4 {
  font-family:Rubik,sans-serif;
  margin:0;
  font-weight:400;
  padding:0;
  color:white;
 }
 a {
  color:white;
 }
 .no-padding {
  padding:0!important
 }
 
 footer {
   margin-top: 100px;
 
 }
 
 .footer-big {
    background-color: #355A8B;
  padding:105px 0 65px 0;
  width: 100%;
  
 }
 .footer-big .footer-widget {
  margin-bottom:40px
 }
 .footer-area{
  
    width: 100%;
 }
 .footer--light {
  background:#355A8B;

 }
 .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
  color:white;
 }
 
 .footer-big .footer-menu .contact-details li a,.footer-big p,.footer-big ul li {
   color:#B9A700;
  }
 
 .footer-menu {
  padding-left:48px
 }
 .footer-menu ul li a {
  font-size:15px;
  line-height:32px;
  -webkit-transition:.3s;
  -o-transition:.3s;
  transition:.3s
 }
 .footer-menu ul li a:hover {
  color:#B9A700
 }
 .footer-menu--1 {
  width:100%;

 }
 .footer-widget-title {
    width: 190px;
  line-height:42px;
  margin-bottom:10px;
  font-size:18px
 }
 .mini-footer {
    position: relative;
  background:#192027;
  text-align:center;
  padding:32px 0
 }
 .mini-footer p {
  margin:0;
  line-height:26px;
  font-size:15px;
  color:#999
 }
 .mini-footer p a {
  color:#5867dd
 }
 .mini-footer p a:hover {
  color:#34bfa3
 }
 .widget-about img {
  display:block;
  margin-bottom:30px
 }
 .widget-about p {
  font-weight:400
 }
 .widget-about .contact-details {
  margin:30px 0 0 0
 }
 .widget-about .contact-details li {
  margin-bottom:10px
 }
 .widget-about .contact-details li:last-child {
  margin-bottom:0
 }
 .widget-about .contact-details li span {
  padding-right:12px
 }
 .widget-about .contact-details li a {
  color:white;
 }
 @media (max-width:991px) {
  .footer-menu {
   padding-left:0
  }
 }
 
 .back-to-top {
   position: relative;
   z-index: 2; }
   .back-to-top .btn-dark {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     padding: 0;
     position: fixed;
     bottom: 20px;
     right: 20px;
     background: #2e2e2e;
     border-color: #2e2e2e;
     display: none;
     z-index: 999;
     -webkit-transition: all 0.3s linear;
     -o-transition: all 0.3s linear;
     transition: all 0.3s linear; }
     .back-to-top .btn-dark:hover {
       cursor: pointer;
       background: #FA6742;
       border-color: #FA6742; }

       span{
        margin-left: 10px;
        font-size: 20px;
       }