header {
    background-size: cover;
}
body {
    justify-content: center;
    background-image: url(../assets/ala.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.form1 {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    border-radius: 30px;
    background-color: #041429;
    width: 1200px;
    position: relative;
    margin: 40px;
    display: block;
}
.MAYOR{
    width: 600px;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 35px;
}
.COL1 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 550px;
}
.COL2 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 550px;
}
.COL3 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 550px;
}
h1 {
    color: white;
    font-weight:900;
    font-family: 'Roboto Slab', serif;
    padding: 3rem;
    width: 1200px;
    font-size: 50px;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;

}
h2 {
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    color: white;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 7px;

}
h4{
    color: white;
    padding-bottom: 2rem;
    justify-content: end;
    margin-right: 90px;
    display: flex;
    font-weight: lighter;
    
}
.p1 {
    margin: 0;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    text-align:start;
    text-indent: 20px;
    color: white;
    font-size: 25px;
}
.p2{
    color: white;
    font-size: 15px;
    font-weight: lighter;
    padding-left: 8rem;
    padding-right: 8rem;
    text-align: start;
}
::placeholder{
    text-align: start;
    flex-direction: column;
    justify-content: flex-start;
}
svg{
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 6px;
}
.bi-arrow-right-square-fill{
    display: flex;
}
strong {
    color: rgb(250, 247, 247);
    font-weight: 100;
}
input {
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    width: 535px;
    height: 70px;
    text-align: center;
    font-size: medium;
    border: 10px;
    font-weight: 100;
    background-color: rgb(206, 206, 206);
}
.nombre {
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}
.apellido {
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}
.dni {
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}
#check{
    align-items: start;
    width: 20px;
    height: 20px;
    margin:5px;
}
.telefono {
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}

.direc {
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}
.e-mail{
    width: 550px;
    height: 180px;
    padding: 1rem;
    text-align: start;
}
#boton{
    background-color: #041429;
    color: white;
    border: 0;
    width: 150px;
    height: 40px;
    display: flex;
}
.form2 {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    border-radius: 30px;
    background-color: #041429;
    width: 1200px;
    position: relative;
    margin: 40px;
    display: block;
}
.tel {
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 2px;
    display: flex;
}

.correo {
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 2px;
    display: flex;
}

.atras {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 70px;
    padding: 10px;
    color: antiquewhite;
    text-align: center;
    flex-wrap: nowrap;
}

.form3 {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    border-radius: 30px;
    background-color: #041429;
    width: 1200px;
    position: relative;
    margin: 40px;
    display: block;
    height: 930px;
}

textarea {
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    width: 1100px;
    height: 200px;
    text-align: center;
    font-size: medium;
    border: 10px;
    font-weight: 100;
    background-color: rgb(206, 206, 206);
}

#rec {
    height: 25px;
    width: 900px;
}

.numpedido {
    text-align: left;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 2px;
}
#num{
    width: 1100px;
}
#reclamo{
    margin-bottom: 100px;
    width: 1100px;
    padding: 120px;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: start;

}
.reclamo {
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 2px;
    height: 300px;
}

main {
    margin-top: 200px;
}
.linea{
    height: 30px;
    font-size: 53px;
    justify-content: center;
    flex-direction: row;
    margin-left: 0;
    color: white;
}

.fa-plane{
    position: relative;
    justify-content: right;
    margin-left:1230px;
    color:white;
}
.lineaPunteada{

    justify-content:center;
    text-align: center;
    height: 58px;
    position: relative;
}
footer{
    width: 2665px;
    height: 200px;
    background-color: #355A8B;

}

.logo {
    border-radius: 10px;
}

.icons-redes:hover {
    color: black;
}

.navbarrr {
    margin-left: 5rem;
}

.navbar-brand {
    margin-left: 5rem;
}

.container-icons {
    background-color: #355A8B;
}
.d-inline-flex{
    margin-right: 100px;
}

nav {
    margin-top: 2.5rem;
    font-size: 1.2rem;
}

.navbar {
    background-color: #a1c5e7;
}

nav li {
    padding: 0 15px;
}

.border-end {
    color: black;
}
#mostrarForm{
    display: none;
}