* {
  margin: 0;
  padding: 0;
}


/* Navbar  */
.logo {
  border-radius: 10px;
}

.icons-redes:hover {
  color: black;
}

.navbarrr {
  margin-left: 5rem;
}

.navbar-brand {
  margin-left: 5rem;
}

.container-icons {
  margin-right: 5rem;
}

nav {
  margin-top: 2.5rem;
  font-size: 1.2rem;
}

.navbar {
  background-color: #a1c5e7;
}

nav li {
  padding: 0 15px;
}

.border-end {
  color: black;
}


-----------------------

.contenedor-img {
  margin-top: 7.9rem;

}

.img-header{
max-width: 100%;
}

@media (max-width:1450px) {
  .img-header{
    height: 600px
    }
}

.h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-family: 'Roboto Slab', serif;
}

  .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@media (max-width: 1450px) {
    .carousel-caption h5 {
        font-size: 2rem;
    }

    .carousel-caption h1 {
        font-size: 2rem;
    }
}

/* Organizacion  */

#organizacion {
  background-color: white;
  margin-top: 6.4rem;
 padding: 3% 3%; 
}

.h2 .roww {
  margin-left: 3rem;
}

.img-carouselsito {
  max-width: 100%;
  height: 300px;
}

.my-carousel {
  width: 370px;
}

@media (max-width: 450px) {
  .my-carousel {
   max-width: 100%; /* o la altura que desees */
  }
}

.p-text {
  font-size: 2rem;
}




/* HR DIVISOR */






/* CSS DE VENTANA EMERGENTE */


#cookie-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px);
}

#cookie-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#accept-cookies {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#accept-cookies:hover {
  background-color: #3e8e41;
}

/* FIN CSS DE VENTANA EMERGENTE */












     /*** BARRITA DIVISORA ***/
     .section-title::before {
      position: absolute;
      content: "";
      width: 150px;
      height: 7px;
      left: 0;
      bottom: 0;
      background: var(--dark);
      border-radius: 2px;
    }
    
    .section-title.text-center::before {
      left: 50%;
      margin-left: -75px;
    }
    
    .section-title.section-title-sm::before {
      width: 90px;
      height: 10px;
    }
    
    .section-title::after {
      position: absolute;
      content: "";
      width: 5%;
      height: 7px;
      bottom: 0px;
      background: rgb(6, 21, 233);
      -webkit-animation: section-title-run 5s infinite linear;
      animation: section-title-run 5s infinite linear;
    }
    
    
    .section-title.section-title-sm::after {
      width: 4px;
      height: 3px;
    }
    
    .section-title.text-center::after {
      -webkit-animation: section-title-run-center 5s infinite linear;
      animation: section-title-run-center 5s infinite linear;
    }
    
    .section-title.section-title-sm::after {
      -webkit-animation: section-title-run-sm 5s infinite linear;
      animation: section-title-run-sm 5s infinite linear;
    }
    
    @-webkit-keyframes section-title-run {
      0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
    }
    
    @-webkit-keyframes section-title-run-center {
      0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
    }
    
    @-webkit-keyframes section-title-run-sm {
      0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
    }





#aboutus {
  margin-bottom: 400px;
}

    .about_section{
      width: 100%;
      float: left;
  }
  .advisor_section_2 {
      width: 100%;
      float: left;
  }
  .image_8{
      width: 100%;
      float: left;
      border-radius: 50%;
  }
  .about_taital{
      width: 100%;
      float: left;
      font-size: 40px;
      color: #1d1c24;
      font-weight: bold;
  }
  .lorem_text {
      width: 100%;
      float: left;
      font-size: 16px;
      color: #1d1c24;
      margin-left: 0px;
      padding-bottom: 20px;
  }